.design .form-content {
    width: 70%;
}

.design .ant-row {
    margin-bottom: 10px;
}

.design-content {
    min-height: 80vh;
    text-align: center;
}

.design-content img {
    width: 70%;
    margin-top: 20px;
}

.blocks img {
    width: 100%;
    margin-bottom: 10px;
}
