@import '~antd/dist/antd.css';

.module {
    background: #f5f5f5;
    padding: 30px;
    margin-bottom: 20px;
}

.content {
    min-height: 80vh;
    padding-top: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}
