@import '~antd/dist/antd.css';

.ant-table-pagination.ant-pagination {
    float: none;
    margin-left: 15px;
}

.module {
    background: #f5f5f5;
    padding: 30px;
    margin-bottom: 20px;
}

.ant-carousel {
    width: 50%;
    margin: 0 auto;
    padding-top: 40px;
}

.ant-carousel .slick-dots-top {
    top: -40px;
}

.ant-carousel .slick-dots li button {
    height: 20px;
}

.alert-module .ant-alert {
    display: none;
}

.alert-module .ant-alert.alert-shown {
    display: block;
}

.alert-module .ant-btn {
    margin-right: 15px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-tabs-ink-bar {
    background-color: #f44336;
}

.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover {
    color: #f44336;
}
